* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: o;
  position: relative;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

header li a {
    color: black;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

header .logo_container img {
  width: 150px;
}

.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.recetas_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.boxed {
  max-width: 1200px;
  margin: 0 auto;
}

.receta {
  grid-column: span 4;
  background-color: #555555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.receta img {
  width: 100%;
}

.single_content{ /*cambiar*/
  color: black;
}

.single_content ul{
  display: flex;
  justify-content: center;
  align-items: center;  
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #dddd;
  margin-top: 30px;
}
